<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
<bean id="parenttraingle" class="org.Package.SpringModuleKit">
  <property name="pointA" ref="pointA" />
</bean>
<bean id="traingle1" class="org.Package.SpringModuleKit" parent="parenttraingle">
 <property name="pointB" ref="pointB" />
 <property name="pointC" ref="pointC" />
</bean>
<bean id="traingle2" class="org.Package.SpringModuleKit" parent="parenttraingle">
 <property name="pointC" ref="pointC" />
</bean>

<bean id="pointA" class="org.Package.SpringModuleKit">
 <property name="x" value="0" />
 <property name="y" value="0" />
</bean>

<bean id="pointB" class="org.Package.SpringModuleKit">
 <property name="x" value="20" />
 <property name="y" value="0" />
</bean>

<bean id="pointC" class="org.Package.SpringModuleKit">
 <property name="x" value="0" />
 <property name="y" value="20" />
</bean>
</beans>